<!-- Developers -->
<section class="creater text-center h-60" id="creater">
    <div class="container">
    <div class="row">
       <div class="col-lg-12 mx-auto">
          <div class="section-heading mx-auto">
             <h2 class="text-center">Разработчики</h2>
             <hr style="width: 50%">
          </div>
       </div>   
          <div class="col-lg-10 offset-lg-2 mt-5 mx-auto">
             <div class="owl-carousel owl-theme testimonial pb-xl-5 ">
                <div class="testimonial__item">
                   <div class="row">
                      <div class="col-md-4 col-lg-3 align-self-center">
                         <div class="testimonial__img">
                            <img class="card-img img-fluid rounded-circle" 
                              src="img/AG.jpg" alt="AG">
                         </div>
                      </div>
                      <div class="col-md-8 col-lg-8 mt-4 ">
                         <div class="testimonial__content mt-4 text-left">
                            <h3 >Балахчи Анна Георгиевна</h3>
                            <p>Руководитель проекта</p>
                            <span class="testimonial__icon">
                               <i class="ti-quote-right"></i></span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="testimonial__item">
                   <div class="row">
                      <div class="col-md-4 col-lg-3  align-self-center">
                         <div class="testimonial__img">
                            <img class="card-img img-fluid rounded-circle" 
                              src="img/ZA.jpg" alt="ZA">
                         </div>
                      </div>
                      <div class="col-md-9 col-lg-8 mt-4">
                         <div class="testimonial__content mt-4 text-left">
                            <h3>Воловикова Зоя Александровна</h3>
                            <p>AR-разработчик</p>
                            <span class="testimonial__icon">
                               <i class="ti-quote-right"></i></span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="testimonial__item">
                   <div class="row">
                      <div class="col-md-3 col-lg-3 align-self-center">
                         <div class="testimonial__img">
                            <img class="card-img img-fluid rounded-circle" 
                              src="img/MM.jpg" alt="MF">
                         </div>
                      </div>
                      <div class="col-md-9 col-lg-8 mt-4">
                         <div class="testimonial__content mt-4 text-left">
                            <h3>Мустакимов Михаил Фидаилович</h3>
                            <p>AR-разработчик</p>
                            <span class="testimonial__icon">
                               <i class="ti-quote-right"></i></span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="testimonial__item">
                   <div class="row">
                      <div class="col-md-3 col-lg-3 align-self-center">
                         <div class="testimonial__img">
                            <img class="card-img img-fluid rounded-circle" 
                              src="img/AA.jpg" alt="AA">
                         </div>
                      </div>
                      <div class="col-md-9 col-lg-8 mt-4">
                         <div class="testimonial__content mt-4 text-left">
                            <h3>Абдулов Александр Алексеевич</h3>
                            <p>AR-разработчик/Логист</p>
                            <span class="testimonial__icon">
                               <i class="ti-quote-right"></i></span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="testimonial__item">
                   <div class="row">
                      <div class="col-md-4 col-lg-3 align-self-center">
                         <div class="testimonial__img">
                            <img class="card-img img-fluid rounded-circle" 
                              src="img/VV.jpg" alt="VV">
                         </div>
                      </div>
                      <div class="col-md-8 col-lg-8 mt-4">
                         <div class="testimonial__content mt-4 text-left">
                            <h3>Юринская Валерия Владимировна</h3>
                            <p>Веб-разработчик</p>
                            <span class="testimonial__icon">
                               <i class="ti-quote-right"></i></span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="testimonial__item">
                   <div class="row">
                      <div class="col-md-4 col-lg-3 align-self-center">
                         <div class="testimonial__img">
                            <img class="card-img img-fluid rounded-circle" 
                              src="img/IA.jpg" alt="IA">
                         </div>
                      </div>
                      <div class="col-md-8 col-lg-8 mt-4">
                         <div class="testimonial__content mt-4 text-left">
                            <h3>Андриенко Ирина Александровна</h3>
                            <p>3D-моделлер</p>
                            <span class="testimonial__icon">
                               <i class="ti-quote-right"></i></span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="testimonial__item">
                   <div class="row">
                      <div class="col-md-4 col-lg-3 align-self-center">
                         <div class="testimonial__img">
                            <img class="card-img img-fluid rounded-circle" 
                              src="img/AR.jpg" alt="AR">
                         </div>
                      </div>
                      <div class="col-md-8 col-lg-8 mt-4">
                         <div class="testimonial__content mt-4 text-left">
                            <h3>Ромме Анна Александровна</h3>
                            <p>Геоданные/AR-разработчик</p>
                            <span class="testimonial__icon">
                               <i class="ti-quote-right"></i></span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="testimonial__item">
                   <div class="row">
                      <div class="col-md-4 col-lg-3 align-self-center">
                         <div class="testimonial__img">
                            <img class="card-img img-fluid rounded-circle" 
                              src="img/YE.jpg" alt="YE">
                         </div>
                      </div>
                      <div class="col-md-8 col-lg-8 mt-4">
                         <div class="testimonial__content mt-4 text-left">
                            <h3>Курмазова Юлия Евгеньевна</h3>
                            <p>Менеджер проекта/Логист</p>
                            <span class="testimonial__icon">
                               <i class="ti-quote-right"></i></span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="testimonial__item">
                   <div class="row">
                      <div class="col-md-4 col-lg-3 align-self-center">
                         <div class="testimonial__img">
                            <img class="card-img img-fluid rounded-circle" 
                              src="img/N.jpg" alt="NA">
                         </div>
                      </div>
                      <div class="col-md-8 col-lg-8 mt-4">
                         <div class="testimonial__content mt-4 text-left">
                            <h3>Громик Никита Андреевич</h3>
                            <p>Веб-разработчик</p>
                            <span class="testimonial__icon">
                               <i class="ti-quote-right"></i></span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>